torch
torchvision
opencv-python
pillow
numpy
pandas
streamlit
streamlit-drawable-canvas
streamlit-option-menu
datasketch
wandb
tensorboard
scikit-learn
jupyter
jupyterlab
pytest
pyyaml
einops
scipy
tqdm
scikit-image
plotly
matplotlib
seaborn
black
flake8
python-dotenv
omegaconf
pyctcdecode
